.body {
  background-color: rgb(240, 240, 232);
  /* background-color: rgb(209, 201, 209); */
}

.main-title {
  margin: 0;
  width: 100%;
}

h1 span {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 150px;
}

.title-icon {
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  padding: 5px 12px;
  margin: 0 auto;
  text-shadow: -2px -3px 3px #808080;
}

.icon-text {
  text-decoration: none;
}

.icon-text:hover {
  text-decoration: none;
  color: #666;
}

#calender-icon {
  border: none;
  display: none;
}

.now-status {
  padding: 20px 10px;
  font-size: 14px;
  color: yellowgreen;
}

.empty-user {
  color: red;
}

header {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.report-header {
  width: 10vw;
  text-align: center;
}

.report-header a:hover {
  background-color: rgb(240, 240, 232);
}

.report-header span {
  color: rgb(58, 179, 108);
  text-decoration: none;
}

#snippet {
  /* font-size: 25px; */
  line-height: 73px;
  cursor: pointer;
  position: absolute;
}

#snippet:hover {
  font-size: 30px;
  line-height: 73px;
  cursor: pointer;
  margin-bottom: 80px;
  background-color: rgb(240, 240, 232);
  transition: font-size 0.2s;
}

.alert-header {
  width: 10vw;
  text-align: center;
}

.alert-header span {
  color: rgb(241, 127, 226);
  text-decoration: none;
}

#alert {
  /* font-size: 25px; */
  line-height: 73px;
  cursor: pointer;
  margin-bottom: 80px;
  position: absolute;
}

#alert:hover {
  font-size: 30px;
  line-height: 73px;
  cursor: pointer;
  margin-bottom: 80px;
  background-color: rgb(240, 240, 232);
  transition: font-size 0.2s;
}

#on-alert {
  font-size: 10px;
  padding-left: 7px;
  color: rgb(245, 12, 12);
}

.navbar-header {
  margin-left: auto;
}

#open {
  font-size: 32px;
  line-height: 73px;
  cursor: pointer;
  margin-bottom: 80px;
}

#open:hover {
  opacity: 0.4;
}

#open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.show li a {
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
}

.overlay.show li a:hover {
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  text-decoration: none;
  color: #333;
  padding: 3px;
}

#close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
  margin-bottom: 80px;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}


.addevent-btn {
  width: 72px;
  height: 72px;
  background-color: rgb(197, 198, 235);
  text-align: center;
  border-radius: 10%;
  bottom: 15px;
  right: 32px;
  padding: 1px 9px 9px 9px;
  opacity: 0.7;
  margin-left: auto;
  margin-bottom: 30px;
}

.addevent-btn.hide {
  display: none;
}

.addevent-btn-text {
  color: #fff;
  display: block;
  text-decoration: none;
}

.addevent-btn-text:hover {
  background-color: rgb(197, 198, 235);
}

.addevent-btn-text p {
  font-family: 'Abril Fatface', cursive;
}

#event-icon {
  width: 100%;
  height: 100%;
}

.fc-toolbar {
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
  color: #666;
  /* text-shadow: -0.3px -1px 1px #808080; */
  display: initial;
}

.fc-toolbar .fc-right {
  margin-bottom: 15px;
}

.fc-view-container.hide {
  display: none;
}

.fc-right.hide {
  display: none;
}

.fc-right {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.fc-today-button, .fc-prev-button, .fc-next-button {
  font-weight: bold;
  color: #666;
}

.tabbar-header {
  display: block;
  margin-right: 30px;
  font-size: 15px;
  line-height: 18px;
  color: #333;
}

.menubar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menubar li {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  
}

.menubar li a {
  display: inline-block;
  width: 20vw;
  text-align: center;
  margin-top: 20px;
  padding: 8px 0;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  color: #666;
  align-items: center;
}

.menubar li a.active {
  background:  rgb(118, 119, 226);
  color: #333;
  font-size: 15px;
  transition: font-size 0.1s;
}

.menubar li a:not(.active):hover {
  opacity: 0.5;
  background-color: rgb(197, 198, 235);
  transition: opacity 0.4s;
}

#identity {
  display: inline-block;
  position: absolute;
  font-size: 20px;
}

#group {
  display: inline-block;
  position: absolute; 
  font-size: 20px;
}

#info {
  display: inline-block;
  position: absolute; 
  font-size: 20px;
}

#drop {
  display: inline-block;
  position: absolute;
  font-size: 20px;
}

.content.active {
  background-color: rgb(197, 198, 235);
  color: #333;
  min-height: 5vh;
  padding: 12px;
  display: block;
  margin: 0;
  text-decoration: none;
  max-width: 60vw;
}

.content {
  display: none;
}

#cancel-1 {
  font-size: 23px;
  cursor: pointer;
}

#cancel-2 {
  font-size: 23px;
  cursor: pointer;
}

#cancel-3 {
  font-size: 23px;
  cursor: pointer;
}

.content-list {
  text-decoration: none;
  font-size: 12px;
}

.content-list:hover {
  text-decoration: none;
  background-color: rgb(197, 198, 235);
}

.new-information {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0;
}

.information {
  font-size: 12px;
  font-weight: bold;
}

.grad-btn {
  font-size: 12px;
  cursor: pointer;
  opacity: 0.4;
}

.grad-btn:hover {
  font-size: 12px;
  cursor: pointer;
  opacity: 1;
}

.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; 
  font-size: 12px;
  color: rgb(235, 134, 134);
  font-weight: bold;
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; 
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; 
}
.grad-trigger:checked + .grad-btn {
  display: none; 
}
.grad-trigger:checked ~ .grad-item {
  height: auto; 
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; 
}

.event-btn {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.event-btn:hover {
  opacity: 0.4;
  background-color: rgb(228, 224, 224);
  color: #333;
}

.footer {
  background-color: rgb(165, 172, 172);
  padding: 10px 0;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

@media (min-width: 600px) {
  #identity {
    display: none;
  }

  #group {
    display: none;
  }

  #info {
    display: none;
  }
}

@media (max-width: 599px) {
  .title-icon {
    position: absolute;
    top: 40px;
  }

  .icon-text {
    text-decoration: none;
  }

  .tabbar-header {
    margin-right: 0px;
  }

  .title-icon {
    font-size: 40px;
  }

  .menubar {
    width: 280px;
  }

  .menubar li {
    justify-content: space-around;
  }

  .menubar li a{
    width: 15vw;
    font-size: 10px;
    height: 20px;
  }

  .menubar li a.active {
    font-size: 10px;
  }

  .text-menu {
    display: none;
  }

  #identity {
     font-size: 20px;
     text-align: center;
     position: static;
  }
   
   #group {
     font-size: 20px;
     text-align: center;
     position: static;
  }  
  
   #info {
     font-size: 20px;
     text-align: center;
     position: static;
  }  

  #drop {
    display: none;
  }

  #calender {
    width: 100%;
  }

  .fc-center {
    font-size: 10px;
  }

  .fc-right {
    font-size: 12px;
  }

  #q_title_eq {
    width: 100px;
    font-size: 8px;
  }

  tr > th > span {
    font-size: 10px;
  }

  .content.active {
    max-width: 41vw;
  }

  .caption-title {
    width: 48px;
  }

  .caption {
    font-size: 10px;
  }

  .schedule-tbody td {
    font-size: 8px;
  }

  .userpage-tbody td {
    font-size: 8px;
  }

  .userpage-thead tr th:nth-child(1) {
    width: 10vw;
  } 

  .userpage-thead tr th:nth-child(2) {
    width: 15vw;
  } 

  .userpage-thead tr th:nth-child(3) {
    width: 50vw;
  }

  .userpage-thead tr th:nth-child(4) {
    width: 50vw;
  }

  .userpage-thead tr th:nth-child(5) {
    width: 25vw;
  }

  .userpage-thead tr th:nth-child(6) {
    width: 25vw;
  }

  .report-header {
    width: 15vw;
  }

  .alert-header {
    width: 15vw;
  }

}


@media (max-width: 428px) {
  header {
    margin-bottom: 0;
    width: 100%;
  }

  .now-status {
    font-size: 10px;
    padding: 0;
  }

  .tabbar-header {
    width: 40vw;
  }

  .report-header {
    width: 0;
    padding-left: 9vw;
    text-align: initial;
  }

  .alert-header {
    width: 0;
    padding-left: 12vw;
    text-align: initial;
  }

  .menubar {
    width: 100%;
  }

  .content.active {
    width: 100%;
  }

  #contact {
    display: none;
  }

  tr > th > span {
    font-size: 10px;
  }

  .fc-event-container {
    font-size: 10px;
    padding: 0;
  }

  #q_title_eq {
    height: 30px;
  }

  input[type="submit" i] {
    font-size: 12px;
    padding: 2px
  }

  .caption {
    font-size: 8px;
  }

  .schedule-tbody > tr > td {
   font-size: 6px;
  }

  #event_start_date_1i, #event_start_date_2i, #event_start_date_3i, #event_start_date_4i, #event_start_date_5i {
    font-size: 2px;
    padding: 5px 0;
    width: 13vw;
  }

  #event_end_date_1i, #event_end_date_2i, #event_end_date_3i, #event_end_date_4i, #event_end_date_5i {
    font-size: 2px;
    padding: 5px 0;
    width: 13vw;
  }

}