.schedule-table {
  margin-top: 25px;
  width: 100%;
}

thead th {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: rgb(165, 172, 172);
  color: white;
  line-height: center;
  padding: 0;
}

.caption {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: rgb(165, 172, 172);
}

.caption-title {
  max-width: 20vw;
}

.caption-body {
  width: 20vw;
}

.schedule-tbody td {
  padding: 10px 3px;
  text-align: center;
}

.schedule-tbody tr {
  background-color: rgb(228, 224, 224);
}