<h3 class="text-center">
    Notifications
    <span class="notification-span">(コメント通知)</span>
</h3>
    <%= link_to "Delete notification", notification_path(@notifications), method: :delete ,class: "fas fa-trash" %>
    <hr>
<% if @notifications.exists? %>
    <div class="users-index">
        <%= render @notifications %> 
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
<hr>
<div class="actions report-return">
  <%= link_to "return Top", root_path, class: "return-top" %>
</div>