<div class="main-header">
  <h1 class="main-title">
    <span class="title-icon">
      <%= link_to root_path, class: "icon-text" do %>
        AllEventsList
        <span class="material-icons" id="calender-icon">perm_contact_calendar</span>
      <% end %>
    </span>
  </h1>
</div>