<div class="main-container">
  <div class="sub-container">
    <h1 class="new-event-title">New Event</h1>

    <%= render 'form', event: @event %>

    <div class="return-actions">
      <%= link_to "return Top", root_path, class: "return-top" %>
    </div>
  </div>
</div>
