<h1 class="new-event-title">Infomation</h1>

<h3>＞＞最新版リリース内容のお知らせ</h3>
          平素よりサービス「All Events List」をご利用いただき、誠にありがとうございます。
          <br>
          ユーザー様のご意見を参考にアップデートいたしました。<br>
          以下にて、AllEventsListの追加機能についてご案内いたします。
          <br>
          <br>
          <h3 class="release">■リリース日</h3>
          2020年11月23日
          <br>
          <br>
          1.マイページの住所検索機能をアップデートしました。
          <br>
          ...検索ボタンを押すとMapの検索窓に反映されるよう変更いたしました。
          <br>
          <br>
          <hr>
          <h3 class="release">■リリース日</h3>
          2020年11月18日
          <br>
          <br>
          1. イベント検索機能を実装いたしました。
          <br>
          ...Topページの「Search!」ボタンにてタイトル検索が可能になりました。
          <br>
          <br>
          <hr>
          <h3 class="release">■リリース日</h3>
          2020年11月02日
          <br>
          <br>
          1. コメントの入力機能を追加いたしました。
          <br>
          ...イベント詳細ページにて、コメントを入力します。
          <br>
          ...コメントはトップページのアラートボタンに通知されます。
          <br>
          ...未読のコメントがある場合、赤い点がつきます。
          <br>
          <br>
          2. 住所検索機能を追加いたしました。
          <br>
          ...マイページにて住所の検索が可能になりました。
          <br>
          ...「MyPage」、及び「TeamMenber」から、各ページに移動し検索ができます。
          <br>
          ...ご訪問先の住所検索などにご利用ください。
          <br>
          <br>
          3. トップページのイベントの表示順が変更になりました。
          <br>
          ...今までは、作成したイベント順であったのに対して、<br>イベントの開始時刻(start_date)の昇順に変更いたしました。
          <br>
          <br>
          4. 時間を過ぎたイベントを非表示にいたしました。
          <br>
          ...トップページのイベントは時間を過ぎたら非表示になるよう変更いたしました。
          <br>
          ...ただし、これまで通りマイページでは全てのイベントが確認できますので、<br>必要に応じて「完了」をクリックして頂くようお願い申し上げます。
          <br>
          <br>
          5. イベントの帳票出力機能を実装いたしました。
          <br>
          ...トップページの緑のアイコンから移動し「Commit」ボタンをクリックし保存します。
          <br>
          <br>
          <hr>
          以上、今後も「All Events List」をよろしくお願いいたします。

<div class="return-actions">
  <%= link_to "return Top", root_path, class: "return-top" %>
</div>